a {
  color: #4a6b82;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

.navbar .navbar-inner {
  height: 43px;
}

.mycontent-right {
  border-left: 1px solid #aaa;
  padding-left: 10px;
  text-align: justify;
}

#contenter {
  margin-left: 0px;
  margin-bottom: 0px;
}

#pager {
  margin-left: 0px;
}
#pager-header {
  margin-left: 5px;
}
.navbar-inner .container {
  width: 1250px;
}
.container {
  width: 1250px;
}

.navbar-static-top .navbar-inner{
  height: 43px;
}

#pager,
#pager-header {
  display: inline;
}

.company_social {
  margin-left: 0px;
}

#contenter li, #pager li,
.links li, .company_social li {
  list-style-type: none;
  display: inline;
}

.socials {
  padding-right:5px;
}
.vertical-divider-gray {
  border-left-color: #333;
  border-right-color: #444;
  border-style: solid;
  height: 40px;
  border-width: 0 1px;
}

.company-name li {
  list-style-type: none;
  display: inline;
}

#company-name b {
  padding-top:8px;
  vertical-align: bottom;
}

#company-name {
  padding-top:0px;
  font-size: 25px;
}

.company-name {
  border-bottom: 1px solid #000;
  height:31px;
  margin-left: 0px;
  margin-bottom: 0px;
  display:block;
}
/*
.company-name {
  display:inline;
}
*/
#navigation {
  border-bottom: 1px solid #000;
}
#content-type-navigation {
  border-bottom: 1px solid #000;  
}

.mycontent-right h4 {
  padding: 0px 0 0px 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.mycontent-right h4 > a {
  /*color: #B4241B;*/
  font-size: 20px;
  font-weight: 100;
  letter-spacing: -2px;
}

.link-data {
  color: #B4241B;
}

#docs {
  padding-top: 1px;
}

/*
.right {
  float: right;
  width: 538px;
  padding: 10px 20px 10px 40px;
  border-left: 1px solid #aaa;
  text-align: justify;
}
.right h2 {
  padding: 15px 0 5px 0;
  color: #B4241B;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: -2px;
}
#result a {
  margin-right: 5px;
}

#pager,
#pager-header {
  display: inline;
}
#contenter li, #pager li,
.links li {
  list-style-type: none;
  display: inline;
}
#selection {
  padding: 10px 15px 0;
}
#selection li {
  list-style-type: none;
}
#docs {
  padding-top: 1px;
}

.left {
  float: left;
  width: 390px;
  padding: 0 0 10px 10px;
}
.left h2 {
  clear: left;
  padding-top: 20px;
  color: #333;
  font-size: 13px;
}
*/